

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site       : 'init';
@reset      : 'init';

/* Elements */
@button     : 'init';
@container  : 'init';
@divider    : 'init';
@flag       : 'init';
@header     : 'init';
@icon       : 'init';
@image      : 'init';
@input      : 'init';
@label      : 'init';
@list       : 'init';
@loader     : 'init';
@rail       : 'init';
@reveal     : 'init';
@segment    : 'init';
@step       : 'init';

/* Collections */
@breadcrumb : 'init';
@form       : 'init';
@grid       : 'init';
@menu       : 'init';
@message    : 'init';
@table      : 'init';

/* Modules */
@accordion  : 'init';
@checkbox   : 'init';
@dimmer     : 'init';
@dropdown   : 'init';
@embed      : 'init';
@modal      : 'init';
@nag        : 'init';
@popup      : 'init';
@progress   : 'init';
@rating     : 'init';
@search     : 'init';
@shape      : 'init';
@sidebar    : 'init';
@sticky     : 'init';
@tab        : 'init';
@transition : 'init';

/* Views */
@ad         : 'init';
@card       : 'init';
@comment    : 'init';
@feed       : 'init';
@item       : 'init';
@statistic  : 'init';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : 'themes';

/* Path to site override folder */
@siteFolder  : 'site';


/*******************************
         Import Theme
*******************************/

@import "theme.less";
